@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,700,700i');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    * {
        box-sizing: inherit;
    }
}

$max-width: 600px;

$light-grey: #f4f5f6;

.messages {
    padding: 4em 2em 5em 2em;
    margin: 0 auto;
    width: 100%;
    max-width: $max-width;

    .message {
        width: 80%;
        max-width: 400px;
        margin: 1em auto;
        position: relative;
        background: $light-grey;
        border-radius: 6px;
        padding: 0.6em;

        .sender {
            display: block;
        }

        img {
            font-size: 1.2em;
        }

        &::after {
            content: " ";
            position: absolute;
            bottom: -10px;
            border: 5px solid $light-grey;
            border-bottom-color: transparent;
        }

        &:not(.own) {
            margin-left: 0;
            border-bottom-left-radius: 0;

            &::after {
                left: 0;
                border-right-color: transparent;
            }
        }

        &.own {
            margin-right: 0;
            border-bottom-right-radius: 0;

            &::after {
                right: 0;
                border-left-color: transparent;
            }
        }
    }
}

footer, header {
    position: fixed;
    padding: 0.6em 0;
    width: 100%;
    bottom: 0;
    box-shadow: 0 0 6px #bbb;
    z-index: 10;
    background: #fff;
}

header {
    top: 0;
    bottom: auto;
    padding: 0;
    line-height: 3em;
    height: 3em;

    .brand {
        margin-left: 1em;
    }
}

.sendField {
    display: flex;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;

    input, button {
        margin: 0 1em;
    }

    input {
        flex: 1;
    }
}

.usernameWidget {
    float: right;

    button {
        margin: 0;
    }
}